@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 15% 13%;
    --foreground: 0 0% 100%;
    --muted: 228 12% 17%;
    --muted-foreground: 228 12% 67%;
    --popover: 228 15% 10%;
    --popover-foreground: 0 0% 100%;
    --card: 228 15% 11%;
    --card-foreground: 0 0% 100%;
    --border: 228 5% 18%;
    --input: 228 5% 21%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 85%;
    --accent: 228 15% 28%;
    --accent-foreground: 228 15% 88%;
    --destructive: 8 86% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 100%;

    --radius: 0.5rem;
    --blue: 192, 78%, 55%;
    --blueAlt: 197, 72%, 68%;
    --green: 162, 100%, 53%;
    --greenAlt: 160, 82%, 51%;
    --orange: 14, 85%, 73%;
    --magenta: 323, 66%, 58%;
    --magentaAlt: 328, 74%, 63%;
    --red: 348, 67%, 64%;
    --redAlt: 340, 52%, 66%;
    --purple: 273, 38%, 68%;
    --salmon: 14, 85%, 73%;
    --turquoize: 180, 77%, 47%;
    --turquoizeAlt: 182, 77%, 58%;
    --yellow: 35, 86%, 80%;
    --yellowAlt: 35, 86%, 80%;

    --win: 162, 100%, 53%;
    --loss: 348, 67%, 64%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 228 15% 13%;
    --foreground: 0 0% 100%;
    --muted: 228 12% 17%;
    --muted-foreground: 228 12% 67%;
    --popover: 228 15% 10%;
    --popover-foreground: 0 0% 100%;
    --card: 228 15% 11%;
    --card-foreground: 0 0% 100%;
    --border: 228 5% 18%;
    --input: 228 5% 21%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 85%;
    --accent: 228 15% 28%;
    --accent-foreground: 228 15% 88%;
    --destructive: 8 86% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.number {
  @apply font-mono;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {}
